
.phone-nav{
    display: none;
    &__checkbox{
        display: none;
    }

    @include respond(phone){
        display: block;
        &__button{
            width: 3.5rem;
            height: 3.5rem;
            position: fixed;
            top:3rem;
            right: 3rem;
            background-color: white;
            z-index: 3;
            border-radius: 3px;
            cursor: pointer;
        }

        &__icon{
        
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                background-color: black;
                display: inline-block;
            }
    
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: all .2s;
            }
    
            &::before { top: -.8rem; }
            &::after { top: .8rem; }


        }

        &__list{
            margin-top: 8rem;
            display: inline-block;
            margin-left: 6rem;
        }

        &__item{
            margin-bottom: 4.5rem;
        }

        &__navigation{
            position: fixed;
            z-index: 4;
            height: 100vh;
            background-color: white;
            width: 80vw;
            right: -80vw;
            transition: all .6s;
        }
        &__link{
            font-size: 2.5rem !important;
            color: black;
        }


        &__checkbox:checked ~ &__navigation{
            right:0;
        }
        
        &__checkbox:checked ~ &__button{
            z-index: 500;
        }

        &__checkbox:checked ~ &__button &__icon{
            background-color: transparent;
        }

        &__checkbox:checked ~ &__button &__icon::after{
            top: 0;
            transform: rotate(-135deg);
        }

        &__checkbox:checked ~ &__button &__icon::before{
            top: 0;
            transform: rotate(135deg);
        }
    }


}
